<div class="banner-secondary">
  <h2 style="padding:20px; text-align:center">Welcome to your list!</h2>

  <div class="category-name align-center">
    <h4 style="text-align:center"><%= @list.name %></h4>
  </div>
</div>

<% @list.bookmarks.each do |bookmark|%>
<% @movie = Movie.find(bookmark.movie_id)%>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%= @movie.poster_url %> alt="">
  <div class="card-body">
    <p class="card-text"><%= @movie.title %></p>
    <h6><%= bookmark.comment %></h6>
    <p><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
  </div>
</div>
<% end %>

<p>l<%= link_to "Back to lists", lists_path%></p>


<h2>Add a new movie to your list!</h2>

<%= simple_form_for [@list, @bookmark] do |f|%>
<%= f.input :comment%>
<%= f.input :movie_id%>
<%= f.submit %>
<% end %>
